*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --cell-size: 60px;
    --width: 8;
}

body {
    margin: 0;
    background-color: #F6F7E8;
}

#turn {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 70px;
    background-color: transparent;
}

#leftandright {
    width: 500px;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border-radius: 20px;
    overflow: hidden;
    border: solid 5px #517A85;
}

#left {
    width: 250px;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    background-color: #517A85;
}

#left.right-turn {
    width: 250px;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    background-color: #B1E1DF;
}

#right {
    width: 250px;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    background-color: #B1E1DF;
}

#right.right-turn {
    width: 250px;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    background-color: #517A85;
}

#left-text {
    font-family: "Gill Sans", sans-serif;
    color: #B1E1DF;
    font-size: 35px;
    flex-grow: 1;
}

#right-text {
    font-family: "Gill Sans", sans-serif;
    color: #B1E1DF;
    font-size: 35px;
    flex-grow: 1;
}

#menu-button {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    right: 10px;
    border-radius: 20px;
    background-color: #B1E1DF;
    width: 70px;
    height: 70px;
    cursor: pointer;
}

#menu {
    display: none;
    cursor: default;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 10px;
    cursor: default;
    position: absolute;
    z-index: 1;
    right: 0;
    width: 300px;
    height: 280px;
    background-color: #73bed3f1;
}

#menu.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#download,
#restart,
#instruction {
    line-height: 50px;
    text-align: center;
    margin: 10px;
    border-radius: 15px;
    width: 200px;
    height: 50px;
    background-color: #F6F7E8;
    font-family: "Gill Sans", sans-serif;
    font-size: 25px;
    color: #517A85;
}

#restart {
    margin-top: 50px;
}

#download:hover,
#restart:hover,
#instruction:hover {
    color: #B1E1DF;
    background-color: #517A85;
    cursor: pointer;
}

#menu-button>.line1 {
    margin-top: 10px;
    background-color: #517A85;
    height: 10px;
    width: 40px;
    border-radius: 20px;
    display: block;
}

#menu-button>.line {
    background-color: #517A85;
    height: 10px;
    width: 40px;
    border-radius: 20px;
    display: block;
}

#menu-button>.line3 {
    margin-bottom: 10px;
    background-color: #517A85;
    height: 10px;
    width: 40px;
    border-radius: 20px;
    display: block;
}

#menu-button:hover {
    background-color: #73bed3;
}

#menu-button:hover .line1,
#menu-button:hover .line,
#menu-button:hover .line3 {
    background-color: #B1E1DF;
}

.flex-box {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

#board-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    background-color: transparent;
}

.board {
    /*flex-grow: 1;*/
    background-color: transparent;
    display: grid;
    /*align-items: center;*/
    place-content: center;
    /*justify-items: center;*/
    grid-template-columns: repeat(var(--width), auto)
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    /*background-color: rgba(255, 120, 120, .9);
  border: 1px solid rgba(231,184,184);*/
    background-color: #517A85;
    border-radius: calc(var(--cell-size)*0.2);
    margin: calc(var(--cell-size)*0.05);
    position: relative;
    cursor: pointer;
}

.cell.food {
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: #B1E1DF;
    border-radius: calc(var(--cell-size)*0.2);
    margin: calc(var(--cell-size)*0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell.ate {
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: transparent;
    cursor: not-allowed;
    box-shadow: transparent;
}

#size-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    height: 25vh;
    background-color: transparent;
}

#height,
#width {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='black'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
    background-size: 12px;
    background-position: calc(100% - 20px) center;
    background-repeat: no-repeat;
    background-color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 15vh;
    width: 35vw;
    font-size: 20px;
    padding-left: 2vw;
}

#x {
    text-align: center;
    font-size: 10vh;
}

#set-button-wrapper {
    height: 50vh;
    background-color: transparent;
}

#set-button {
    height: 20vh;
    width: 40vw;
    max-width: 400px;
    font-size: 30px;
    color: #517A85;
    background-color: #73bed3;
    border: 7px solid #517A85;
    border-radius: 3vh;
    padding: .25em .5em;
    cursor: pointer;
}

#set-button:hover {
    background-color: #517A85;
    color: #73bed3;
    border-color: #73bed3;
}

#choose-grid-selectors {
    height: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#choose-grid {
    font-family: "Gill Sans", sans-serif;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F6F7E8;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
}

#choose-grid.disappear {
    display: none;
}

.winning-message {
    font-family: "Gill Sans", sans-serif;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F6F7E8;
    justify-content: center;
    align-items: center;
    color: #517A85;
    font-size: 5rem;
    flex-direction: column;
}

.winning-message button {
    font-family: "Gill Sans", sans-serif;
    font-size: 3rem;
    color: #517A85;
    background-color: #73bed3;
    border: 7px solid #517A85;
    border-radius: 10px;
    padding: .25em .5em;
    cursor: pointer;
}

.winning-message button:hover {
    background-color: #517A85;
    color: #73bed3;
    border-color: #73bed3;
}

.winning-message.show {
    display: flex;
}

@media (max-width:800px) {
    #choose-grid {
        padding-top: 100px;
    }
}

@media(max-width:550px) {
    #menu-button {
        position: relative;
        flex-shrink: 0;
        width: 70px;
        height: 70px;
        right: 0px;
        margin-right: 5px;
        margin-left: 5px;
    }
    #leftandright {
        flex-shrink: 1;
        width: auto;
        margin-left: 5px;
    }
    #turn {
        justify-content: flex-end;
        padding-left: 0px;
    }
    #right-text,
    #left-text {
        font-size: 5vw;
    }
    #menu {
        width: 100vw;
        border-radius: 0px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        height: 60vh;
    }
    #menu.show {
        justify-content: center;
    }
    #restart {
        margin-top: 0px;
    }
    #set-button {
        border-radius: 20px;
        padding: 0;
    }
}